server:
  port: 8082

spring:
  application:
    name: candidate-service

  datasource:
    url: jdbc:mysql://localhost:3306/hireready_candidate
    username: root
    password: Password123#

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
